html, body {
    padding: 0;
    margin: 0;
    background: #111;
    font-family: 'Arial', sans-serif;
}

#ptotemy-game {
    position: relative;
    width: 640px;
    height: 480px;
    background: transparent;
    /*transform: scale(1.2);*/
}

#log {
    display: none;
}

#entities {
    display: none;
}

img {
    width: 100%;
}

.environment, .location, .entity, .item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Specify the css for the elements */

#land .location {
    font-size: 10px;
    text-align: center;
    line-height: 0.8em;
    cursor: pointer;
}

#overlay {
    pointer-events: none;
    z-index: 3;
}

#grail {
    position: absolute;
    width: 100px;
    left: 18%;
    top: 53%;
}

#gold {
    position: absolute;
    width: 128px;
    height: 100px;
    left: 3%;
    top: 5%;
}

#gold .value {
    position: absolute;
    top: 23%;
    right: 2%;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    color: black;
    text-align: right;
}

#life {
    position: absolute;
    width: 128px;
    height: 100px;
    left: 78%;
    top: 5%;
}

#life .value {
    position: absolute;
    top: 23%;
    left: 2%;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 0 5px black;
    color: black;
}

#city {
    display: none;
}

#cardblock {
    left: 10%;
    top: 10%;
    width: 80%;
    height: 60%;
    overflow: hidden;
    text-align: center;
}

.item {
    position: relative;
    width: 25%;
    height: 70%;
    background: #f5f5f5;
    border-radius: 5px;
    border: 2px solid black;
    margin: 1%;
    margin-top: 3%;
    display: inline-block;
    padding: 2%;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
}

.item:hover {
    box-shadow: 0 0 2px 4px black;
}

.item img {
    width: 100%;
    border-radius: 5px;
}

#buttonblock {
    left: 48%;
    top: 63%;
    width: 40%;
    height: 23%;
    text-align: center;
}

#cityname {
    text-align: center;
    height: 36px;
    background: black;
    color: white;
    line-height: 36px;
    font-size: 18px;
    margin-top: 3px;
    opacity: 0.9;
}

.gamebtn {
    width: 80%;
    margin: 0 auto;
    font-size: 12px;
}

#grailhunt {
    margin-top: 5px;
    background: #944000;
    -webkit-box-shadow: 2px 5px 8px #111;
    -moz-box-shadow: 2px 5px 8px #111;
    box-shadow: 2px 5px 8px #111;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

#grailhunt:hover {
    background: #d94734;
    text-decoration: none;
}

#travel {
    margin-top: 5px;
    background: #fa5800;
    -webkit-box-shadow: 2px 5px 8px #111;
    -moz-box-shadow: 2px 5px 8px #111;
    box-shadow: 2px 5px 8px #111;
    color: #111;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

#travel:hover {
    background: #fab505;
    text-decoration: none;
}

#quiz {
    left: 4%;
    top: 6%;
    width: 92%;
    height: 84%;
    display: none;
    z-index: 4;
}

#statement {
    left: 37%;
    top: 30%;
    width: 55%;
    height: 25%;
    overflow: hidden;
    background: black;
    opacity: 0.9;
    box-shadow: 0 0 8px 4px darkorange;
}

#question-image {
    left: 9%;
    top: 35%;
    width: 30%;
    overflow: hidden;
}

#statement-area {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 90%;
    height: 80%;
    overflow: hidden;
    color: white;
    font-size: 16px;
}

#options {
    left: 40%;
    top: 55%;
    width: 52%;
    height: 50%;
}

.option-block {
    list-style: none;
    margin-left: -12%;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.9);
    margin-top: 10px;
    padding: 5px;
    font-size: 12px;
}

.option-block:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
    box-shadow: 0 0 8px 4px goldenrod;
}

#knowmore{
    left: 84%;
    top: 95%;
    width: 38%;
    height: 4%;
    padding: 1%;
    cursor: pointer;
    color: white;
}

#correct-area {
    color: white;
    font-size: 32px;
    padding-top: 9%;
    text-align: center;
}

#wrong-area {
    color: white;
    font-size: 32px;
    padding-top: 9%;
    text-align: center;
}

#grail-statement {
    color: white;
    font-size: 32px;
    height: 50%;
    left: 40%;
    padding: 20px;
    top: 55%;
    width: 85%;
}

#grail-direction {
    color: gold;
}

#penalty-statement {
    color: white;
    font-size: 32px;
    height: 50%;
    left: 40%;
    padding: 20px;
    top: 55%;
    width: 70%;
}

#notification {
    top: 25%;
    left: 5%;
    width: 90%;
    height: 40%;
    z-index: 2;
    display: none;
}

#notification-content {
    font-size: 24px;
    left: 20%;
    position: absolute;
    text-align: center;
    top: 25%;
    width: 60%;
}

#notification-content img{
    width:30%;
    float: left;
    margin-left: 20px;
    vertical-align: middle;
    border-radius: 5px;
}